
.trx-icon-users:before { content: '\e800'; } /* '' */
.trx-icon-video:before { content: '\e800'; } /* '' */
.trx-icon-plus-1:before { content: '\e801'; } /* '' */
.trx-icon-link:before { content: '\e802'; } /* '' */
.trx-icon-users-1:before { content: '\e803'; } /* '' */
.trx-icon-plus:before { content: '\e804'; } /* '' */
.trx-icon-cancel-1:before { content: '\e805'; } /* '' */
.trx-icon-cancel-2:before { content: '\e806'; } /* '' */
.trx-icon-down-open-mini:before { content: '\e807'; } /* '' */
.trx-icon-left-open-mini:before { content: '\e808'; } /* '' */
.trx-icon-cancel:before { content: '\e809'; } /* '' */
.trx-icon-cancel-3:before { content: '\e80a'; } /* '' */
.trx-icon-right-open-mini:before { content: '\e80b'; } /* '' */
.trx-icon-cancel-4:before { content: '\e80c'; } /* '' */
.trx-icon-left-open-big:before { content: '\e80d'; } /* '' */
.trx-icon-right-open-big:before { content: '\e80e'; } /* '' */
.trx-icon-up-open-mini:before { content: '\e80f'; } /* '' */
.trx-icon-plus-2:before { content: '\e810'; } /* '' */
.trx-icon-menu:before { content: '\e811'; } /* '' */
.trx-icon-menu-1:before { content: '\e812'; } /* '' */
.trx-icon-down-open-big:before { content: '\e816'; } /* '' */
.trx-icon-up-open-big:before { content: '\e817'; } /* '' */
.trx-icon-iconmonstr-magnifier-2:before { content: '\e818'; } /* '' */
.trx-icon-chat55:before { content: '\e819'; } /* '' */
.trx-icon-youtube:before { content: '\e8a3'; } /* '' */
.trx-icon-play-big:before { content: '\e988'; } /* '' */
.trx-icon-menu-3:before { content: '\f008'; } /* '' */
.trx-icon-facebook:before { content: '\f09a'; } /* '' */
.trx-icon-instagram:before { content: '\f16d'; } /* '' */
.trx-icon-behance:before { content: '\f1b4'; } /* '' */
.trx-icon-twitter-2:before { content: '\f309'; } /* '' */