{% extends 'base.html.twig' %}

{% block title %}Creation{% endblock %}
{% block creation %} active {% endblock %}

{% block style %}
{% endblock %}

{% block contenu %}
 <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading" id="top" style="background-image: url({{ asset( 'images/banniere_creation.png' ) }});">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Les créations</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->


    <!-- ***** Products Area Starts ***** -->

	<section class="section" id="products">

    <div class="liste">
        <div class="container">
            <div class="row">
            {% for c in pCreation %}
                <a class="lien" href="{{ path('creationConsulter', { 'id': c.id }) }}">
                <div class="card">
                    <div class="photoCard">
                        <img src="{{ asset( c.image ) }}" alt="image">
                    </div>
                    <div class="descrCard">
                        {{ c.date|date("d/m/Y") }}
                    </div>

                </div>
                </a>
                
            {% endfor %}
            </div>
        </div>
        </div>
    </section>
{% endblock %}